@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: "Montserrat", sans-serif;
}

button{
    border: none;
    font-size: medium;
}

.button_classic{
    cursor: pointer;
    padding: 6px 16px;
    background: rgba(255, 255, 255, 0.5);
    font-style: normal;
    font-size: 14px;
    line-height: 17px;
    color: rgb(2, 61, 61);
    margin: 10px;
    border-color: rgba(17, 36, 69, 0.64);
}

.button_whith_border{
    border: solid;
}

.button_classic:hover {
    background: #93a1b6;
}

.noClick:focus{
    outline: none;
}

.header {
    background-color:rgb(11 22 42);
    width: 100%;
    height: 7em;
    display: flex;
}

.header-image-block{
    width: 400px;
    margin-right: 0px;
}

.header-image{
    background: url(../images/shutterstock_791606392-750x375.jpg) no-repeat;
    height: 100%;
    width: 400px;
    background-size: 400px 100%;
}

h1 {
    color: #252A31;
}

.container {
    width: 100%;
    margin: 0 auto;
    min-width: 830px;    
}

.logo {
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 27px;
    color: #83a2ce;
    padding: 2em;
    min-width: 120px;
}

.logo_link {
    text-decoration: none;
}

.nav-list{
 display: flex;
 margin-right: 0px;
 margin-left: auto;
 margin-bottom: 0px;
 margin-top: auto;
 flex-wrap: wrap;
}

.nav-item{
    background: url(../images/Bg.svg) no-repeat;
    background-size: contain;
    width: 130px;
    height: 30px;
    text-align: center;  
    list-style: none;
    line-height: 30px;
    cursor: pointer;
}

.nav-item:hover {
    background: url(../images/Bg2.svg) no-repeat;
    background-size: contain;
    width: 130px;
    height: 30px;
    text-align: center;  
    list-style: none;
    line-height: 30px;
    cursor: pointer;
}

.forms{
    margin-left: auto;
    margin-right: auto;
    margin-top: 5em;
    width: 20em;
    min-width: 20em;
}

.formslabel{
    margin: 1em;
}

.formsfield{
    width: 100%;
    border: revert;
    height: 30px;
  }

.forms_button{
    display: flex;
    justify-content: end;
   }

   .login_button{
    display: flex;
    justify-content: center;
   }

.login_button_width{
    width: 100%;
}

.forms_rememberme{
 display: flex;
 justify-content: center;    
}

.forms_checkbox_center{
    width: 25px;
height: 25px;
margin-left: auto;
margin-right: auto;
display: flex;
}

/*Greeting*/
.greeting{
    margin-left: auto;
    width: 90%;
    margin-right: auto;
    margin-top: 20px;
}

.text_greeting{
    display: flex;
    justify-content: center;
}

.blocks-greeting{
    display: flex;
    justify-content: center;
}

.greeting_item{
    width: 240px;
    height: 260px;
    background-color: rgb(17 36 69);
    border-radius: 10%;
    text-align: center;
    cursor: pointer;
    margin: 10px;
}

.greeting_text_img{
    color: white;
}

/* Profile Page*/

.wrapper_profile {
    display: flex;
    margin-top: 5%;
    padding: 40px;
}

.changeprofile {
    display: grid;
    align-items: center;
    text-align: left;
}

.formprofile {
    margin-left: auto;
    margin-right: auto;
}

.a_element {
    display: flex;
}

.a_text {
    margin-left: 3pt;
}

.text_error{
    color: red;
}

/* Table*/

.users-table{
   min-width: 700px;
   margin: 10px;
   border: 1px black;
}

.panel-heading{
display: flex;
justify-content: space-evenly;
}

.panel-heading-text{
 margin: 10px;
 padding: 6px 16px;
}

table{
    border: 1px solid black;
    border-collapse: collapse;
    margin: auto;
    width: 100%;
}

th{
    border: 1px solid black;
    background-color: #b9ced7; 
}

 td{
    border: 1px solid black; 
    text-align: center;
}

/*-------------------------------------------------------*/

.message {
    text-align: center;
    margin-top: 2em;
}

pre {
    display: block;
    font-family: monospace;
    white-space: pre;
    margin: 1em 0px;
}

.Delete_Status{
    cursor: pointer;
    position: relative;
}


.tooltiptext{
    display: none;
    position: absolute;
    left: -300px;
    top: -60px;  
    padding: 5px;
    z-index: 2;
    background-color: #000000a6;
    color: #fff;
}

@media (max-width:995px) {

    .header-image-block{
        width: 300px;
        margin-right: 0px;
    }
    
    .header-image{
        background: url(../images/shutterstock_791606392-750x375.jpg) no-repeat;
        height: 100%;
        width: 300px;
        background-size: 300px 100%;
    }

    .logo{
        padding: 0;
        margin-top: auto;
        margin-bottom: auto;
    }

}

@media (max-width:300px) {

    .header-image-block{
        width: 250px;
        margin-right: 0px;
    }
    
    .header-image{
        background: url(../images/shutterstock_791606392-750x375.jpg) no-repeat;
        height: 100%;
        width: 250px;
        background-size: 200px 100%;
    }

}
