.heading-primary {
  font-size:2em;
  padding:2em;
  text-align:center;
}

.accordion dl{
    border:1px solid #ddd;
 }

.accordion-list {
   border:1px solid #ddd;
}

.accordion dl:after {
    content: "";
    display:block;
    height:1em;
    width:100%;
    background-color:#252A31;
  }

.accordion-list:after {
    content: "";
    display:block;
    height:1em;
    width:100%;
    background-color:#252A31;
  }

.accordion dd,
.accordion__panel {
   background-color:#eee;
   font-size:1em;
   line-height:1.5em; 
}
.accordion p {
  padding:1em 2em 1em 2em;
}

.accordion {
    position:relative;
    background-color:#eee;
}

.faq-container {
  max-width:960px;
  margin:0 auto;
  padding:2em 0 2em 0;
}

.accordionOther,
.accordionTitle,
.accordion__Heading {
 background-color:darkslateblue; 
   text-align:center;
     font-weight:700; 
          padding:2em;
          display:block;
          text-decoration:none;
          color:#fff;
          transition:background-color 0.5s ease-in-out;
  border-bottom:1px solid #252A31; 
  text-overflow: ellipsis;
  overflow: hidden;   
}

.accordionTitle:before {
    content: "+";
    font-size:1.5em;
    line-height:0.5em;
    float:left; 
    transition: transform 0.3s ease-in-out;
   }

.accordion__Heading:before {
    content: "+";
    font-size:1.5em;
    line-height:0.5em;
    float:left; 
    transition: transform 0.3s ease-in-out;
   }

   .accordionOtherGreen{
    background-color:#0061d7 ;
   }

   .accordionTitle:hover{
    background-color:#252A31;
   }

   .accordionOtherGreen:hover{
    background-color: #169400;
   }

.accordionTitleActive, 
.accordionTitle.is-expanded {
   background-color:#252A31;
    
}

.accordionTitleActive, 
.accordionTitle.is-expanded:before {
     
    transform:rotate(-225deg);
  }

.accordionItem {
    height:auto;
    overflow:hidden; 
    
     max-height:50em;
    transition:max-height 1s;   
     
    @media screen and (min-width:48em) {
         max-height:15em;
        transition:max-height 0.5s       
    }       
}

.accordion_edit {
  display: flex;
}

.extrafunction{
display: flex;
justify-content: center;
width: 50%;
cursor: pointer;
}

.red{
 background-color: #ff001e38;
}

.red:hover{
  background-color: #ff001e57;
 }

.green{
  background-color: #00ff0838;
 }

 .green:hover{
  background-color: #00ff085b;
 }
 
.accordionItem.is-collapsed {
    max-height:0;
}
.no-js .accordionItem.is-collapsed {
  max-height: auto;
}
.animateIn {
     animation: accordionIn 0.45s normal ease-in-out both 1; 
}
.animateOut {
     animation: accordionOut 0.45s alternate ease-in-out both 1;
}

.accordionAnswer{
white-space: pre-line;
}

.forms{
  margin-left: auto;
  margin-right: auto;
  margin-top: 5em;
  width: 60%;
  min-width: 20em;
}

.formslabel{
  margin: 1em;
}

.formsfield{
  width: 100%;
  border: groove;
}

.forms_button{
  display: flex;
  justify-content: end;
 }

.tooltiptextfaq{
    display: none;
    position: absolute;
    top: 35px;  
    padding: 5px;
    z-index: 2;
    background-color: #000000a6;
    color: #fff;
}

@keyframes accordionIn {
  0% {
    opacity: 0;
    transform:scale(0.9) rotateX(-60deg);
    transform-origin: 50% 0;
  }
  100% {
    opacity:1;
    transform:scale(1);
  }
}

@keyframes accordionOut {
    0% {
       opacity: 1;
       transform:scale(1);
     }
     100% {
          opacity:0;
           transform:scale(0.9) rotateX(-60deg);
       }
}