@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: "Montserrat", sans-serif;
}

.container_properties{
    position: absolute;
    padding: 2%;
    left: 100px;
    right: 100px;   
    justify-content: center;
    text-align: center;
}

.properties{
    display: flex;
    flex-wrap: wrap;
    margin-top: 2em;
    justify-content: center;
}

.properties_item{
    width: 240px;
    height: 260px;
    background-color: rgb(17 36 69);
    border-radius: 10%;
    text-align: center;
}

.button_img{
 position: relative;
}

.text_img{
    margin-top: -20px;
    color:white;
}

.message {
    text-align: center;
    margin-top: 2em;
}

/*Request form*/
.requestform{
    margin-left: auto;
    margin-right: auto;
    margin-top: 5em;
    width: 40em;
    min-width: 40em;
}

.requestformlabel{
    margin: 0.5em;
}

.requestinput{
    margin-top: 10px;
    width: 100%;
    height: 20px;
}

.requestinputIp{
    margin-top: 10px;
}

.probleminput{
    margin-top: 10px;
    width: 100%;
    height: auto;
    min-height: 100px;
    
}

.button_right{
    margin-left: auto;
    margin-right: 0px;
    width: 110px;
}

/*-------------------------------------------------------*/

/* Table*/

.users-table{
    min-width: 700px;
    margin: 10px;
    border: 1px black;
 }
 
 .panel-heading{
 display: flex;
 justify-content: space-evenly;
 }
 
 .panel-heading-text{
  margin: 10px;
  padding: 6px 16px;
 }
 
 table{
     border: 1px solid black;
     border-collapse: collapse;
     margin: auto;
     width: 100%;
 }
 
 th{
     border: 1px solid black;
     background-color: #b9ced7; 
 }
 
  td{
     border: 1px solid black; 
     text-align: center;
     cursor: pointer;
     max-width: 1000px;
     overflow: hidden;
 }
 
 /*-------------------------------------------------------*/
 
 /*Request*/
 .container {
    width: 100%;
    margin: 0 auto;
    min-width: 830px;        
}

.container_head{
    height: 70px;
    padding: 20px 20px 10px 30px;
    background-color:rgb(236, 231, 255);
    display: flex;
    justify-content: space-between;
}

.requeststatus{
    width: auto;
    margin-right: 20px;
}

.container_buttoms{
    height: 50px;
    padding: 0px 20px 5px 20px;
    display: flex;
}

.request_buttom{
    width: 120px;
    height: 30px;
    margin: 10px;
    border-radius: 7%;
    background-color: inherit;
    cursor: pointer;
    border-style: outset;
    border-color: darkslateblue;
    text-align: center; 
}

.request_buttom:hover{
background-color: #b7c4e7;
}

.container_request{
    display: flex;
    width: 100%;
}

.description_request{
    padding: 20px;
    width: 80%;
}

.description{
  padding-top: 10px;
  border-top: outset;
  border-bottom: ridge;
}

.requestadress{
    padding: 10px 10px 20px 10px;
}

.users_request{
    display: inline;
    width: 20%;
    padding: 20px;
}

.autor_request{
    margin: 5px;
}

.admin_request{
    margin: 20px 5px 5px 5px;
}

.a_buttom{
    text-decoration: none;
    font-size: small;
    color: black;
    height: 30px;
    line-height: 30px;
}


/*-------------------------------------------------------*/