@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: "Montserrat", sans-serif;
}

.container_properties{
    position: absolute;
    padding: 2%;
    left: 100px;
    right: 100px;   
    justify-content: center;
    text-align: center;
}

.properties{
    display: flex;
    flex-wrap: wrap;
    margin-top: 2em;
    justify-content: center;
}

.properties_item{
    width: 240px;
    height: 260px;
    background-color: rgb(17 36 69);
    border-radius: 10%;
    text-align: center;
}

.button_img{
 position: relative;
}

.text_img{
    margin-top: -20px;
    color:white;
}

/* Table*/

.users-table{
    min-width: 700px;
    margin: 10px;
    border: 1px black;
 }
 
 .panel-heading{
 display: flex;
 justify-content: space-evenly;
 }
 
 .panel-heading-text{
  margin: 10px;
  padding: 6px 16px;
 }
 
 table{
     border: 1px solid black;
     border-collapse: collapse;
     margin: auto;
     width: 100%;
 }
 
 th{
     border: 1px solid black;
     background-color: #b9ced7; 
 }
 
  td{
     border: 1px solid black; 
     text-align: center;
 }
 
 /*-------------------------------------------------------*/
 